@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  --main-back-color: #5c6bc0;
  --main-font-color: white;
  --seco-back-color: white;
  --seco-font-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  background-color: var(--seco-color);
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  background-color: var(--seco-color);
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 25px;
  margin: 0;
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
}

p {
  font-size: 15px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  width: 75%;
}

select {
  width: 76%;
}

.navbar {
  background-color: var(--main-back-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.6);
}

.navbar-title {
  color: var(--main-font-color);
  font-size: 25px;
  margin: 0;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.section {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.section-margin {
  margin-bottom: 20px;
}

.subsection {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.element {
  padding: 5px;
  box-sizing: border-box;
}

.element-super {
  flex: 1;
}

.element-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.element-border {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: var(--seco-font-color);
}

.center {
  text-align: center;
}

.button {
  margin: 10px;
}

.events {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 40%;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  margin-left: 20px;
}

.events-area {
  height: 95%;
  width: 100%;
}
